@media screen and (min-width:768px) and (max-width:960px) {
.main_container {
	width:95%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.content_table {
	width: 100%;
}
.bg_top_img { display:none;}
.table_first {
	width: 80%;
}

.table1 {
	width: 80%;
}


header {
	width:100%;
	padding: 0;
	display: block;
}

.header_top {
	width: 100%;
	height:50px;
	border-bottom: 1px solid #efefef;
}

.content_area ul.scooping {

	width:100%!important;
	margin: 0  0 0 0px;
	padding: 0;
	list-style: none;
	float: left;
	display: block;
}

.content_area ul.scooping li {
	width: 175px;
	margin: 0 10px 40px 0;
	padding: 0;
	float: left;
	background: none;
	display: block;
}

.header_top p {
	font-size: 13px;
	color: #069A44;
	width: 60%;
	padding: 10px 0 0 0;
	float: left;
	display: block;
}
.logo_pooking {
	width: 186;
	height: 57px;
	margin: 40px  auto 0 auto;
	text-align:center;
}
.logo_pooking a {
	text-indent: -9999px;
	background-image: url(../imageslokgo-pooking.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 57px;
	display: block;
}

nav ul {
	margin: 30px auto 0 auto;
	padding: 0;
	list-style: none;
	display: block;
	width:96%;
}

nav li {
	text-align: center;
}

nav li a,nav li a:link,nav li a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.17em;
	text-transform: uppercase;
	margin: 0 30px 0 0;
	display: inline-block;
	color: #716767;
	text-decoration: none;
}

nav li a:last-child {
	margin: 0;
}

.banner_section {
	background-color: #352c29;
	width:100%;	height:80%;
	overflow: hidden;
	position: relative;
}


#featured {
	background-color: #362c2a;
	width: 100%;
	height:80%;
	overflow:hidden;
	position:relative;

}

#featured ul.ui-tabs-nav{
	background-color: #FFF;
	position:absolute;
	bottom:0;
	left:0!important;
	list-style:none;
	padding:0 0px 0px 0;
	margin:0px 0 0 0;
	height:7px;
	z-index:1;
	width: 100%;
}

#featured ul.ui-tabs-nav li{
	background: #FFF;
	width:33%;
	height: 7px;
	margin:0px 1px 0px 0px;
	font-size:12px;
	color:#666;
	display: block;
	float: left!important;

}

#featured ul.ui-tabs-nav li:last-child {
	margin: 0;
	width:33.7%;
}


#featured li.ui-tabs-nav-item {
width:100%;
background: #CCC;
height:10px;
float: left;

}


.textBanner {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:40px;
	color: #FFF;
	width:50%!important;
	position: absolute;
	top: 125px!important;
	left: -982px;
	text-align: left;
	z-index: 1;
	display: block;
}

.textBanner p {
	font-size: 30px;
}

.textBanner span {
	color: #fff;
}



.textBanner a {
	 font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	opacity: 0;
	font-style: italic;
	position: relative;
	top:0px;
	left:130px;
	color: #fff;
	width:80%;
	display: block;
	z-index:9999!important;
	text-decoration:none;
}

.textBanner p.txt_bottom {
	font-family: 'LatoLight';
	font-size: 14px;
	opacity: 0;
	position: relative;
	font-style: normal;
	width: 100px;
	top:50px;
	left:0;
	color: #bfb8b5;
	width:50%;
	display: none;
	z-index:9999!important;
}
#featured .ui-tabs-panel img {
	max-width: 100%;
}
#featured .ui-tabs-panel{
	width:100%;
	position:relative;
	height:80%;
	text-align:left;
	padding:0px 0px 0px 0px;

}
section {
	width: 100%;
	padding-bottom: 50px;
	border-bottom:  1px solid #CCC;
	display: block;
}

article {
	background-image: url(../imagesbg_divider.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	width:50%;
	float: left;
	display: block;
}

.article {
	width:95%;
	float: left;
}
aside {
	font-size: 13px;
	width: 40%;
	float: left;
	display: block;
	padding:0px 0px 0px 25px;
}
aside p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #716767;
	line-height: 20px;
			font-weight:normal;
	width:100%;
	display: block;
}
.article_dog { display:none;}

aside a, aside a:link, aside a:visited {
	color: #716767;
	text-decoration: none;
	margin: 35px 0 0 0;
		font-weight:normal;
	display: block;
}

aside a:hover {
	color: #333;
		font-weight:normal;
		text-decoration:none;
}


footer { width: 100%!important;}

.address_section {
	width:33%;
	float: left;
}
.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	width:50%;
	margin-left:0px;
	float: left;
}

.connect_network {
	font-family: Arial, Helvetica, sans-serif;
	width:30%;
	margin-left:0px;
	float: left;
}


.sitemap ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.sitemap li {
	font-size: 13px;
	padding: 0 10px 5px 0px;
	display: block;
	float:left;
}

.content_section {
	/*background-image: url(../imagesbg-content-new.jpg);
	background-position: top left;
	background-repeat: repeat-x;*/
	width:100%;
	padding: 53px 0 0 0;
	margin: 0 auto;
}

.content_section h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	font-weight: normal;
	font-style: italic;
	color: #494949;
	margin: 0;
	padding: 5px 0 20px 80px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	display: block;
}

.content_area {
	background-image: url(../imagesbg-content-area.png);
	background-position: top left;
	background-repeat: repeat;
	width:80%;
	min-height: 400px;
	margin: 20px auto 0 auto;
	padding: 40px;
}


footer span {
	width: 40%;
	float: right;
	text-align: right;
}

.offer_handle {
	width: 39%;
	margin: 0 auto;
}

.offer {
	margin: 0 10px 10px 0!important;
	float: left;
}

.offer_bottom {
	margin-left: 0!important;
}

.offer2 {
	margin-left: 100px!important;
}

a.btn_signup {
	width: 150px!important;
	margin: 0 0 0 125px;
}

p.location {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
}

.bg_top_img {
	width: 173px;
	height: 130px;
	top: -17%;
	right: 0;
}

.footer_signup {
	width: 240px!important;
	float: right;
}

.info_section {
	width: 100%;
	margin: 20px 0 0 130px;
}

}


@media screen and (min-width:280px) and (max-width:767px) {
.bg_top_img {
	display: none;
}


	.main_container {
	width:95%;
	margin: 0 auto;
	padding-bottom: 20px;
}


header {
	width:100%;
	padding: 0 0 10px 0;
	display: block;
}

.header_top {
	width: 100%;
	min-height:60px;
	padding:0px 0px 15px 0px;
	border-bottom: 1px solid #efefef;
}
.header_top p {
	font-size: 11px;
	color: #069A44;
	width: 35%;
	padding: 10px 0 0 0;
	float: left;
	display: block;
}
.logo_pooking {
	width: 186px;
	height: 57px;
	margin: 40px auto 0 auto;
	text-align:center;
}
.logo_pooking a {
	text-indent: -9999px;
	background-image: url(../imageslokgo-pooking.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 57px;
	display: block;
}

nav ul {
	margin: 5px auto 10px auto;
	padding: 0;
	list-style: none;
	display: block;
	width:90%;
}

nav li a,nav li a:link,nav li a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0 0px 10px;
	display: inline-block;
	color: #716767;
	text-decoration: none;
}

.banner_section_mobile {

	background-color: #352c29;
	width:100%!important;
	position: relative;
	display:block;
}


.banner_section_mobile img {

	width:100%!important;
		display: block;

}
.banner_section {

	display:none;
}
section {
	width: 100%;
	padding-bottom: 50px;
	border-bottom:  1px solid #CCC;
	display: block;
}


article {
	background:none;
	width:100%;
	float: left;
	display: block;
		padding:0px 0 20px 0;
}
article h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #716767;
	font-weight: normal;
	margin: 0;
	padding:10px 0 10px 0;
	display: block;
}
aside h1 {
	font-family: 'LatoLight';
	font-size: 23px;
	color: #716767;
	font-weight: normal;
	margin: 0;
	padding:10px 0 10px 0;
	display: block;
}

.article {
	width:95%;
	float: left;
}
aside {
	font-size: 13px;
	width:100%;
	float: left;
	display: block;
	padding:10px 0px 0px 0px;
	border-top:1px solid #efefef;
}
aside p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px!important;
	font-weight:normal;
	color: #716767;
	line-height: 20px;
	width:95%;
	display: block;
	padding:0px 0px 0px 2px;
}

aside a, aside a:link, aside a:visited {
	color: #716767;
	text-decoration: none;
	margin: 35px 0 0 0;
		font-weight:normal;
	display: block;
}

aside a:hover {
	color: #333;
		font-weight:normal;
		text-decoration:none;
}
.article_dog { display:none;}

.article p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #716767;
	line-height: 20px;
	display: block;
	padding:0px 0px 0px 2px;
}

.article a,.article a:link,.article a:visited {
	font-family: 'LatoLight';
	color: #716767;
	text-decoration: none;
	margin:15px 0 0 2px;
	display: block;
}



footer { width: 100%!important;}
.address_section {
	width:100%;
	float: left;
}
.sitemap {
	display:none;
}


.address_section h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #8f8f8f;
	margin: 0;
	padding: 20px 0 0 30px;
	display: block;
}

.address_section h4 {
	font-family: 'LatoLight';
	font-size: 15px;
	font-weight: normal!important;
	color: #454545;
	background-image: url(../imagesicon-contact.png);
	background-position: 0 22px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 23px 0 0 28px;
	display: block;
}

.connect_network h3 {
	font-family: 'LatoLight';
	font-size: 15px;
	font-weight: normal;
	color: #454545;
	margin: 0;
	padding: 20px 0 10px 0;
	display: block;
}


.address_section p {
		font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	display: block;
		color: #8f8f8f;
}


footer span {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8f8f8f;
	text-align: left;
	line-height: 18px;
	padding: 15px 0 0 0;
	display: block;
}
.connect_network {
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	margin-left:0px;
	float: left;
}


.sitemap ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.sitemap li {
	font-size: 13px;
	padding: 0 10px 5px 0px;
	display: block;
	float:left;
}

.content_section {
	/*background-image: url(../imagesbg-content-new.jpg);
	background-position: top left;
	background-repeat: repeat-x;*/
	width:100%;
	padding: 30px 0 0 0;
	margin: 0 auto;
}

.content_area {
	background-image: url(../imagesbg-content-area.png);
	background-position: top left;
	background-repeat: repeat;
	width:65%;
	min-height: 400px;
	margin: 20px auto 0 auto;
	padding: 30px 40px 0px 40px;
}


.content_area ul.scooping {

	width:100%!important;
	margin:0 auto;
	padding: 0;
	list-style: none;
	float: left;
	display: block;
}

.content_section h2.heading_text {
	margin: 0 0 30px 0px!important;
}


.content_section h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-weight: normal;
	font-style: italic;
	color: #494949;
	text-align: center;
	margin: 0;
	padding: 5px 0 0 0;
	display: block;
}

.content_area ul.scooping img {

	width:100%!important;

}
.content_area ul.scooping li {
	width:80px;
	min-height:80px;
	margin: 0 15px 20px 0;
	padding: 0;
	float: left;
	background: none;
	display: block;

}

.content_area ul.scooping li span {
	text-align: center;
	width:80px;
	height:65px;
	padding:5px;
	list-style: none;
	background: none;
	-webkit-box-shadow: -1px -1px 13px rgba(157, 155, 155, 0.20);
	-moz-box-shadow:    -1px -1px 13px rgba(157, 155, 155, 0.20);
	box-shadow:         -1px -1px 13px rgba(157, 155, 155, 0.20);
	margin: 0;
	background: #FFF;
	display: block;
}

.content_area ul.scooping li h4 {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	color: #009d4b;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding:9px 0 5px 0!important;
	display: block;
}
.content_area ul.scooping li p {

	display: none;
}

nav li {
	text-align: center;
}

.contact_wrapper {
	width: 100%;
	margin: 0 auto;
}

.contact_wrapper label {
	font-family: 'LatoLight';
	font-size: 14px;
	color: #8f8f8f;
	width: 90%;
	height: 22px;
	padding: 3px 0 0 0;
	float: none;
	display: block;
}

.contact_wrapper input {
	font-size: 12px;
	color: #8f8f8f;
	width: 97%;
	height: 25px;
	padding: 0 5px 0 5px;
	border: none;
	margin-bottom: 5px;
	border: 1px solid #e0dcd4;
	float: none;
}

.contact_wrapper textarea {
	font-size: 12px;
	color: #8f8f8f;
	width: 97%;
	height: 87px;
	padding: 10px 5px 10px 5px;
	border: none;
	margin-bottom: 17px;
	resize: none;
	border: 1px solid #e0dcd4;
	float: none;
}

.contact_wrapper select {
	color: #8f8f8f;
	width: 90%;
	height: 25px;
	margin: 0 0 10px 0;
	padding: 4px;
	border: none;
	border: 1px solid #e0dcd4;
	float: none;
}

input.btn_submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px!important;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
	background-color: #009c49;
	width: 118px;
	height: 43px;
	margin: 0 0 0 0px;
	cursor: pointer;
	box-shadow: none!important;
	border: none;
	float: none;
}

label.city {
	width: 90%;
	padding: 5px 0 0 0;
	float: none;
	display: block;
}

select.selectCity {
	width: 100%;
	margin-bottom: 5px;
	float: none;
}

input.inputZip {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 0;
	float: none;
}


.table_main {
	width: 100%!important;
}

.content_table {
	font-size: 12px;
	width: 100%;
}

.table_first {
	width: 100%;
}

.table_first td,.table1 td {
	font-size: 12px;
}

.table1 {
	width: 100%;
}

.content_area h4 {
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	color: #6b6a6a;
	text-align: center;
	padding: 30px 0 20px 0;
	width: 80%;
	border-top: 1px solid #CCCCCC;
	margin: 10px auto 0 auto;
	display: block;

}

p.txt_color {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: block;
}


.offer_handle {
	width: 100%;
	margin:0 auto;
}

.offer {
	margin: 10px auto 10px auto!important;
	float: none;
}

.offer_bottom {
	margin: 10px auto 10px auto!important;
}

.offer2 {
	margin: 10px auto 10px auto!important;
}

a.btn_signup {
	width: 150px!important;
	margin: 0 auto;
}

p.location {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}
.connect_network ul {
	list-style: none;
	margin: 0 ;
	padding: 0;
	width: 81px!important;
	background: #CCC;
	display: block;
}

.connect_network li {
	font-size: 13px;
	margin-right: 15px;
	float: left;
	display: block;
}

.connect_network li:last-child {
	margin-right: 0;
}

.bg_top_img { display:none;}

.info_section {
	width: 80%;
	margin: 20px 0 0 0;
}



}
